<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <nav>
        <a href="/" class="logo">Marketplace</a>
        <div class="nav-right">
            <div class="inbox">
                <button>Inbox</button>
                <div class="messages">
                    <!-- Add messages here -->
                </div>
            </div>
            <button id="logout-button">Logout</button>
        </div>
    </nav>
</header>

<main>
    <div class="tab-container">
        <ul class="tabs">
            <li class="tab active" data-tab="products">Products</li>
            <li class="tab" data-tab="search">Search</li>
            <li class="tab" data-tab="sell">Sell</li>
            <li class="tab" data-tab="history">History</li>
        </ul>
    </div>

    <section id="products" class="tab-content active">
        <h2>Available Products</h2>
    </section>

    <section id="search" class="tab-content search">
            <h2>Search</h2>
            <form>
                <select id="product-type">
                    <option value="">Select product type</option>
                    <!-- Add product types here -->
                </select>
                <input type="number" placeholder="Minimum price">
                <input type="number" placeholder="Maximum price">
                <select>
                    <option value="">Select condition</option>
                    <option value="new">New</option>
                    <option value="verygood">Very Good</option>
                    <option value="good">Good</option>
                    <option value="notworking">Not Working Properly</option>
                </select>
                <button type="submit">Search</button>
            </form>
    </section>

    <section id="sell" class="tab-content sell">
        <h2>Sell</h2>
        <form>
            <select id="product-type2">
                <option value="">Select product type</option>
                <!-- Add product types here -->
            </select>
            <input type="number" placeholder="Price">
            <input type="number" placeholder="Year of production">
            <input type="text" placeholder="Color">
            <select>
                <option value="">Select condition</option>
                <option value="new">New</option>
                <option value="verygood">Very Good</option>
                <option value="good">Good</option>
                <option value="notworking">Not Working Properly</option>
            </select>
            <button type="submit">Sell Product</button>
        </form>
    </section>

    <section id="history" class="tab-content">
        <h2>History</h2>
    </section>
</main>
<script src="index_scripts.js"></script>
</body>
</html>