<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <nav>
        <a href="/" class="logo">Marketplace</a>
        <div class="nav-right">
            <div class="inbox">
                <button>Notifications</button>
                <div id="notificationsList" class="messages">
                    <p>No notifications.</p>
                </div>
            </div>
            <div class="inbox">
                <button>My cart <span id="numberOfProductsInCart">(0)</span></button>
                <div id="cartList" class="messages">
                </div>
            </div>
            <button id="logout-button">Logout</button>
        </div>
    </nav>
</header>

<main>
    <div class="tab-container">
        <ul class="tabs">
            <li class="tab active" data-tab="buy">Buy</li>
            <li class="tab" data-tab="sell">Sell</li>
            <li class="tab" data-tab="history">History</li>
        </ul>
    </div>

    <section id="buy" class="tab-content active search">
        <h2>Search</h2>
        <form id="search-form">
            <select name="productTypeId" id="product-type">
                <option value="">Select product type</option>
                <!-- Add product types here -->
            </select>
            <input name="minPrice" type="number" placeholder="Minimum price">
            <input name="maxPrice" type="number" placeholder="Maximum price">
            <select name="condition">
                <option value="">Select condition</option>
                <option value="NEW">New</option>
                <option value="VERY_GOOD">Very Good</option>
                <option value="GOOD">Good</option>
                <option value="NOT_WORKING">Not Working Properly</option>
            </select>
            <button type="submit">Search</button>
        </form>
        <div id="products">
            <h2>Products</h2>
        </div>
    </section>

    <section id="sell" class="tab-content sell">
        <h2>Sell</h2>
        <form>
            <select id="product-type2">
                <option value="">Select product type</option>
                <!-- Add product types here -->
            </select>
            <input type="number" placeholder="Price">
            <input type="number" placeholder="Year of production">
            <input type="text" placeholder="Color">
            <select>
                <option value="">Select condition</option>
                <option value="new">New</option>
                <option value="verygood">Very Good</option>
                <option value="good">Good</option>
                <option value="notworking">Not Working Properly</option>
            </select>
            <button type="submit">Sell Product</button>
        </form>
    </section>

    <section id="history" class="tab-content">
        <div id="orders">
            <h2>Orders</h2>
        </div>
    </section>

    <div class="error-popup">
        <p>Error message goes here.</p>
    </div>
</main>
<script src="cart.js"></script>
<script src="orders.js"></script>
<script src="logout.js"></script>
<script src="tabs.js"></script>
<script src="products.js"></script>
</body>
</html>